@font-face {
  font-family: "Neustadt";
  src: url("fonts/Neustadt\ Regular.ttf") format("truetype");
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#background {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("img/backgrounds/widescreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: background-movement 60s ease-in-out ;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes background-movement{
  0%{
    background-position: 0%;
  }

  75% {
    background-position: 100%;
  }

  100%{
    background-position: center center;
  }
}

#background-effect {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
  margin: 0;
  /*background-color: rgb(255, 55, 228);*/
  height: 100%;
  width: 100%;
  z-index: 0;
}

#principal-section {
  position: absolute;
  width: 75%;
  height: 95%;
  /*background-color: rgb(207, 11, 11);*/
  z-index: 1;
}

#select {
  height: 40%;
  width: 23%;
  margin-top: 25%;
  margin-left: 5%;
  /*background-color: rgb(127, 255, 81, 1);*/
  z-index: 2;
}

#select ul {
  padding-top: 5%;
  padding-left: 10%;
  list-style: none;
  display: block;
  justify-content: flex-start;
  font-family: Neustadt;
}

#select ul li {
  padding-left: 3%;
  margin-bottom: 5%;
  color: rgb(234, 249, 250);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 175%;
  cursor: default;
}

#select ul li:hover {
  text-shadow: 0 0 2px #fff, 0 0 15px #fff, 0 0 30px #fff;
  transition: all 0.2s;
  opacity: 1;
  border-left: solid 3px rgb(233, 233, 233);
}

#lateral-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 95%;
  margin-top: 0;
  /*background-color: rgb(23, 46, 164);*/
  z-index: 1;
  margin-left: 75%;
}

#team-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40%;
  margin-top: 20%;
  display: grid;
  grid-template-rows: repeat(6, 15%);
  gap:4px
}
#section-title {
  display: flex;
  /*background-color: blueviolet;*/
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#section-title p {
  font-weight: 700;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(234, 249, 250);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
}

.player {
  display: flex;
  font-family: Neustadt;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  opacity: 85%;
  border: solid 1px rgb(193, 229, 255, 0.5);
  color: #fff;
  padding: 0;
}

.player:hover {
  opacity: 100%;
}

.player-img {
  padding: 0;
  position: relative;
  width: 30%;
  background-color: crimson;
}

.player-text {
  /*background-color: cornflowerblue;*/
  display: flex;
  text-indent: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 67%;
  margin-left: 3%;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(77, 0, 110);*/
  width: 100%;
  height: 5%;
  bottom: 0;
  padding: 0;
  gap: 8%;
}

footer a {
  margin: 0;
  font-size: 22px;
  position: relative;
  height: 100%;
  color: white;
}

/*PLAYER*/

#hiddenBox {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: fixed;
  left: 22%;
  width: 22%;
  /*bottom: -100%;*/
  bottom: -100%;
  height: 60%;
  background-color: rgba(60, 59, 59, 0.293);
  backdrop-filter: blur(4px);
  border-radius: 3px;
  border: solid 2px rgba(236, 230, 230, 0.415);
  transition: bottom 0.5s ease;
}

.title {
  height: 10%;
  width: 100%;
}

.controls {
  position: relative;
  /*background-color: aqua;*/
  height: 20%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.control-button {
  margin-left: 4%;
  margin-right: 4%;
  width: 90px;
  background-color: unset;
  border: 0;
}

.control-button i {
  color: #ffffff;
  transition: opacity 0.3s ease;
}

#actual-song {
  padding: 0;
  margin: 0;
  /*background-color: blueviolet;*/
  height: 15%;
  text-align: center;
  font-family: Neustadt;
  color: white;
  margin-bottom: 4px;
}
#actual-song h6 {
  /*background-color: chartreuse;*/
  padding: 0;
  font-size: 125%;
  font-weight: 550;
  margin-top: 4%;
  margin-bottom: 0;
}

#actual-song p {
  margin-top: 4px;
  font-size: 100%;
}

.songs {
  /*background-color: blue;*/
  list-style: none;
  overflow-y: hidden;
  padding: 0;
  
}

.songs li {
  position: relative;
  text-indent: 8%;
  text-align: start;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 4%;
  border-bottom: 2px solid rgba(249, 242, 242, 0.994);
  padding: 0;
}

.songs li a {
  height: 100%;
  width: 100%;
  cursor: default;
  text-decoration: none;
  color: #ffffff;
  font-family: Neustadt;
  margin-top: 0;
  margin-bottom: 0;
}


.songs li a h6 {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 550;
}
.songs li a p {
  font-size: 80%;
  font-weight: 450;
}

#play-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.706);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}